# LIST

1. How to declare a list?

In [56]:
list = [1,2,3,4,5,6,7]
print("declare a list of int", list)

declare a list of int [1, 2, 3, 4, 5, 6, 7]

2. Declare a list containing different fruit names?

In [2]:
fruits = ["Apple", "Banana","Orange","Mango","Grapes"]
print(fruits)
type(fruits)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']

list

3. Declare a list containing different data-types in it?

In [3]:
list = ["Aman",27, 65000.0]
print(list)

['Aman', 27, 65000.0]

4. write down the code to check a particular element in the list?

In [9]:
fruits = ["Apple", "Banana","Orange","Mango","Grapes"]

i = input()

if i in fruits:
    print("exist")
else:
    print("not exist")

Banana
exist

5. create a list of 5 elements and print the middle element which is in the list?

In [15]:
fruits = ["Apple", "Banana","Orange","Mango","Grapes"]
print(fruits[2])

Orange

6. A list containing 10 elements slice it from index 3 to 4?

In [3]:
list = [1,23,43,54,66,78,73,28,17,81]
sliced_list = list[3:5]
print(sliced_list)

[54, 66]

7. Declare a list and add a new element into the list using the append
function?

In [4]:
fruit = ["Apple", "Banana", "Mango", "Cherry"]
print(f"Before adding element at the end of the list- {fruit}")
fruit.append("Melon")
print(f"After adding element at the end of the list- {fruit}")

Before adding element at the end of the list- ['Apple', 'Banana', 'Mango', 'Cherry']
After adding element at the end of the list- ['Apple', 'Banana', 'Mango', 'Cherry', 'Melon']

8. Declare a list store multiple elements and access the elements using
negative indexing?

In [10]:
list =  ['Apple', 'Banana', 'Mango', 'Cherry', 'Melon']
print(list[-1])
print(list[-2])
print(list[-3])
print(list[-4])
print(list[-5])

Melon
Cherry
Mango
Banana
Apple

# Tuple

1. How tuples are different from the list [theory type question]?

1. List are mutable, Tuple are immutable.
2. List consume more memory, while Tuple comsume less memory.
3. operation like insertion and deletion are better performed with List, in Tuple elements can be accessed better.

example of list = fruit = ["Apple", "Banana", "Mango", "Cherry"]


example of tuple = fruit = ("Apple", "Banana", "Mango", "Cherry")

2. Write a Python program to create a tuple?

In [34]:
tup = (1,3,4,8,21,77,42,72,89,33,47)
print("tuple with same data types is", tup)
type(tup)

tuple with same data types is (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47)

tuple

3. Write a Python program to create a tuple with different data types?

In [32]:
tuple = (1,3,"hello world", 2.26)
print("tuple with different data types is",tuple)

tuple with different data types is (1, 3, 'hello world', 2.26)

4. Write a Python program to create a tuple with numbers and print one item?

In [30]:
tuple = (1,3,4,8,21,77,42,72,89,33,47)
print("fourth element is",tuple[3])

fourth element is 8

5. Write a Python program to add an item in a tuple?

In [24]:
tuple1 = (1,3,4,8,21,77,42,72,89,33,47)
tuple2 = (5,88,103,55)
final_tuple = tuple1 + tuple2
print(f"final tuple after adding two tuple- {final_tuple}")

final tuple after adding two tuple- (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)

6. Write a Python program to get the 4th element and 4th element from the last
of a tuple?

In [28]:
tuple = (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
print("fourth element is", tuple[3])
print("fourth element from last is", tuple[-4])

fourth element is 8
fourth element from last is 5

7. Write a Python program to check whether an element exists within a tuple?

In [36]:
tuple = (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)

element_to_check = 72

if element_to_check in tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 72 exists in the tuple.

8. Write a Python program to remove an item from a tuple?

In [40]:
tuple = (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
print("Tuple before removing an item", tuple)

tuple = tuple[:2] + tuple[3:]
print("Tuple after removing 3rd item", tuple)

Tuple before removing an item (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
Tuple after removing 3rd item (1, 3, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)

9. Write a Python program to slice a tuple?

In [44]:
tuple = (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
print("Tuple before slicing:", tuple)

# Slice from index 2 to 7
sliced_tuple = tuple[2:7]

# Slice from index 1 to the end
sliced_tuple2 = tuple[1:]

# Slice from the beginning to index 7
sliced_tuple3 = tuple[:7]

# Slice with a step size of 3
sliced_tuple4 = tuple[::3]

# Print the sliced tuples
print("Sliced Tuple from index 2 to 7:", sliced_tuple)    
print("Sliced Tuple from index 1 to the end:", sliced_tuple2) 
print("Sliced Tuple from the beginning to index 7:", sliced_tuple3)
print("Sliced Tuple with a step size of 3:", sliced_tuple4)

Tuple before slicing: (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
Sliced Tuple from index 2 to 7: (4, 8, 21, 77, 42)
Sliced Tuple from index 1 to the end: (3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
Sliced Tuple from the beginning to index 7: (1, 3, 4, 8, 21, 77, 42)
Sliced Tuple with a step size of 3: (1, 8, 42, 33, 88)

10. Write a Python program to find the length of a tuple?

In [48]:
tuple = (1, 3, 4, 8, 21, 77, 42, 72, 89, 33, 47, 5, 88, 103, 55)
print("length of the tuple:", len(tuple))

length of the tuple: 15

11. Write a Python program to print a tuple with string formatting
Sample tuple : (100, 200, 300)?

In [51]:
sample_tuple = (100, 200, 300)

# Using str.formatting to print the tuple
print("Sample tuple: {}".format(sample_tuple))

Sample tuple: (100, 200, 300)