## Statistics

**1. According to a study, the daily average time spent by a user on a social media website is 50 minutes. To test the claim of this study, Ramesh, a researcher, takes a sample of 25 website users and finds out that the mean time spent by the sample users is 60 minutes and the sample standard deviation is 30 minutes. Based on this information, the null and the alternative hypotheses will be:**<br>
**Ho = The average time spent by the users is 50 minutes**<br>
**H1 = The average time spent by the users is not 50 minutes**<br>
**Use a 5% significance level to test this hypothesis.**<br>

**ANS:** The average time spent by the user is 50 minutes

In [3]:
import math
import scipy.stats as stats

n= 25
mu = 50
x_bar = 60
s = 30
alpha = 0.05

# Calculate the T-Statistics
t = (x_bar - mu)
k = (s / math.sqrt(n))
z = t/k

# Find the critical T-Value
df = n - 1
t_crit = abs(stats.t.ppf(alpha/2,df))

# Check if the calculated t-Value is outside the critical region
if abs(z) > t_crit:
    print("The average time spent by the users is not 50 minutes")
else:
    print("The average time spent by the user is 50 minutes")

The average time spent by the user is 50 minutes

**2. Height of 7 students (in cm) is given below. What is the median? 168 170 169 160 162 164 162.**<br>

**ANS:** The median of 7 students(in cm) is: 164

In [4]:
import statistics

x = [168, 170, 169, 160, 162, 164, 162]

median =  statistics.median(x)

print('The median of 7 students(in cm) is:',median)

The median of 7 students(in cm) is: 164

**3. Below are the observations of the marks of a student. Find the value of mode.**
**84 85 89 92 93 89 87 89 92** <br>

**ANS:**<br> The mode of the observation is: 89

In [5]:
y = [84,85,89,92,93,89,87,89,92]

mode  = statistics.mode(y)

print('The Mode of the observations is:', mode)

The Mode of the observations is: 89

**4. From the table given below, what is the mean of marks obtained by 20students?**<br>
| Marks Xi | No. of students fi |
| -------- | ------------------ |
|   3      |          1         |
|   4      |          2         |
|   5      |          2         |
|   6      |          4         |
|   7      |          5         |
|   8      |          3         |
|   9      |          2         |
|   10     |          1         |
|  Total   |          20        |

In [6]:
xi = [3,4,5,6,7,8,9,10]
fi = [1,2,2,4,5,3,2,1]
xifi = list(map(lambda x, y : x*y, xi , fi))
print(xifi)

[3, 8, 10, 24, 35, 24, 18, 10]

In [7]:
mean = sum(xifi)/20
print(sum(xifi))
print(mean)

132
6.6

**ANS:** The mean of marks obtained 20 students is : 6.6

**5. For a certain type of computer, the length of time between charges of the battery is normally distributed with a mean of 50 hours and a standard deviation of 15 hours. John owns one of these computers and wants to know the probability that the length of time will be between 50 and 70 hours.** <br>

**ANS:**<br>

**6. Find the range of the following.**<br>
**g = [10, 23, 12, 21, 14, 17, 16, 11, 15, 19]**

In [8]:
g = [10, 23, 12, 21, 14, 17, 16, 11, 15, 19]

Range = max(g)- min(g)

print('Range is:', Range)

Range is: 13

**ANS:** Range is: 13

**7. It is estimated that 50% of emails are spam emails. Some software has been applied to filter these spam emails before they reach your inbox. A certain brand of software claims that it can detect 99% of spam emails, and the probability for a false positive (a non-spam email detected as spam) is 5%. Now if an email is detected as spam, then what is the probability that it is in fact a non-spam email?**<br>

**ANS:** <br>

Let's first define the events: <br>

S: the event that an email is spam<br>
-S : the event that email is not an spam<br>
F: the event that an email is detected as spam<br>
-F: the event that an email is not detected as spam<br>

We want to find the probability of F given that the email is not actually spam, which can be written as P(-S | F). We can use Bayes' theorem to solve for this:<br>

P(-S | F) = P(F | -S) * P(-S) / P(F)<br>

We can find each of these probabilities from the given information:<br>

P(F | -S) = probability of a false positive = 0.05<br>

P(S) = probability of an email is spam = 0.5<br>

P(-S) = probability of an email not being spam = 1 - P(S) = 0.5<br>

P(F) = probability of an email being detected as spam = P(F | S)* P(S) + P(F | -S) * P(-S)<br>

= 0.99 * 0.5 + 0.05 * 0.5<br>

= 0.52<br>

Putting these values into Bayes' theorem, as decribe above we get:<br>

P(-S | F) = P(F | -S) * P(-S) / P(F)<br>

P(-S | F) = 0.05 * 0.5 / 0.52<br>

= 0.0481 (rounded to four decimal places)<br>

**Therefore, the probability that an email detected as spam is actually not spam is approximately 0.0481 or 4.81%.<br>**

**8. Given the following distribution of returns, determine the lower quartile: <br> {10 25 12 21 19 17 16 11 15 19}**

**ANS:**<br>

data = {10 25 12 21 19 17 16 11 15 19} <br>

1. Sort the data in ascending order:<br>
{10, 11, 12, 15, 16, 17, 19, 19, 21, 25}<br>

2. Calculate the position of the lower quartile using the formula:<br>
Position of lower quartile = (n + 1) / 4
where n is the number of data points. In this case, n = 10, so:<br>

Position of lower quartile = (10 + 1) / 4 = 2.75

3. Since this position is not an integer, we need to interpolate between the second and third values.<br>

The second value is 11 and the third value is 12. To interpolate, we can take the weighted average of these two values:<br>

Weighted average = (1 - 0.75) * 11 + 0.75 * 12 = 11.75<br>

**Therefore, the lower quartile of the data set is approximately 11.75.**<br>

**9. For a Binomial distribution, the number of trials(n) is 25, and the probability of success is 0.3. What’s the variability of the distribution?**<br>

**ANS:**<br>

The measure for variability is Variance.<br>
The variance of the binomial distribution is Var(X) = n*p*q;<br>

where p is the probability of success and q is the probability of failure is given as 1-p<br>
So, as per question; n=20, p=0.7 q = 1-0.7 = 0.3. <br>

**Variance will be 20 * 0.3 * 0.7= 4.2**

In [9]:
Variance = 20*0.3*0.7
print(round(Variance, 2))

4.2

**10. Download the *Cell Phone Survey Dataset* and perform the below mentioned operations on the dataset:-<br>**

In [10]:
import numpy as np
#np is alias for numpy

import pandas as pd
# pd is alias as pandas

import scipy.stats as scstat
# sc is alias as sc

import statistics as stat
# stat is alias as statistics

In [11]:
df = pd.read_csv('Cell Phone Survey.csv')
df.shape

(52, 7)

In [12]:
df.head()

,Gender,Carrier,Type,Usage,Signal strength,Value for the Dollar,Customer Service
0,M,AT&T,Smart,High,5,4,4
1,M,AT&T,Smart,High,5,4,2
2,M,AT&T,Smart,Average,4,4,4
3,M,AT&T,Smart,Very high,2,3,3
4,M,AT&T,Smart,Very high,5,5,2

In [13]:
df.tail()

,Gender,Carrier,Type,Usage,Signal strength,Value for the Dollar,Customer Service
47,F,Other,Basic,Average,2,3,3
48,F,T-mobile,Basic,Low,3,4,4
49,M,T-mobile,Basic,Average,3,4,3
50,M,Verizon,Basic,Low,3,3,4
51,M,Verizon,Basic,Average,4,2,4

In [14]:
df.describe()

       Signal strength  Value for the Dollar  Customer Service
count        52.000000             52.000000         52.000000
mean          3.307692              3.423077          3.230769
std           1.000754              0.956836          0.962338
min           1.000000              1.000000          1.000000
25%           3.000000              3.000000          3.000000
50%           3.000000              3.000000          3.000000
75%           4.000000              4.000000          4.000000
max           5.000000              5.000000          5.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                52 non-null     object
 1   Carrier               52 non-null     object
 2   Type                  52 non-null     object
 3   Usage                 52 non-null     object
 4   Signal strength       52 non-null     int64
 5   Value for the Dollar  52 non-null     int64
 6   Customer Service      52 non-null     int64
dtypes: int64(3), object(4)
memory usage: 3.0+ KB

In [16]:
df.count()

Gender                  52
Carrier                 52
Type                    52
Usage                   52
Signal strength         52
Value for the Dollar    52
Customer Service        52
dtype: int64

**● Checking datatypes of each column in the dataset.**

In [17]:
df.dtypes

Gender                  object
Carrier                 object
Type                    object
Usage                   object
Signal strength          int64
Value for the Dollar     int64
Customer Service         int64
dtype: object

**● Find Mean of Signal strength column using Pandas and Statistics library.**

In [18]:
#Mean of signal strength using Pandas library
mean_sig_strnth_pan = df['Signal strength'].mean()
print('Mean of signal strength using pandas:',mean_sig_strnth_pan)

#Mean of signal strength using Statistics library
mean_sig_strnth_stat = stat.mean(df['Signal strength'])
print('Mean of signal strength using statistics:',mean_sig_strnth_stat)

Mean of signal strength using pandas: 3.3076923076923075
Mean of signal strength using statistics: 3.3076923076923075

**● Find the Median of Customer Service column using Pandas and Statistics library.**

In [19]:
#Median of signal strength using Pandas library
med_cus_ser_pan = df['Customer Service'].median()
print('Median of customer service using pandas:',med_cus_ser_pan)

#Median of signal strength using Statistics library
med_cus_ser_stat = stat.median(df['Customer Service'])
print('Median of customer service using statistics:',med_cus_ser_stat)

Median of customer service using pandas: 3.0
Median of customer service using statistics: 3.0

**● Find Mode of Signal strength column using Pandas and Statistics library.**

In [20]:
#Mode of signal strength using Pandas library
mo_sig_strnth_pan = df['Signal strength'].mode()
print('Mode of signal strength using pandas:',mo_sig_strnth_pan)

#Mode of signal strength using Statistics library
mo_sig_strnth_stat = stat.mode(df['Signal strength'])
print('Mode of signal strength using statistics:',mo_sig_strnth_stat)

Mode of signal strength using pandas: 0    3
Name: Signal strength, dtype: int64
Mode of signal strength using statistics: 3

**● Find Standard deviation of Customer Service column using Pandas and Statistics library.**

In [21]:
#Standard deviation of signal strength using Pandas library
std_cus_ser_pan = df['Customer Service'].std()
print('Standard Deviation of customer service using pandas:',std_cus_ser_pan)

#Standard Deviation of signal strength using Statistics library
std_cus_ser_stat = stat.stdev(df['Customer Service'])
print('Standard deviation of customer service using statistics:',std_cus_ser_stat)

Standard Deviation of customer service using pandas: 0.9623375261979594
Standard deviation of customer service using statistics: 0.9623375261979595

**● Find Variance of Customer Service column using Pandas and Statistics library.**

In [22]:
#Variance of signal strength using Pandas library
var_sig_strnth_pan = df['Customer Service'].var()
print('Variance of customer service using pandas:',var_sig_strnth_pan)

#Variance of signal strength using Statistics library
var_sig_strnth_stat = stat.variance(df['Customer Service'])
print('Variance of customer service using statistics:',var_sig_strnth_stat)

Variance of customer service using pandas: 0.9260935143288083
Variance of customer service using statistics: 0.9260935143288084

**● Calculate Percentiles of Value for the Dollar column using Numpy.**

In [23]:
#Calculate percentiles of value for the dollar Numpy library

df_dollar = df['Value for the Dollar']

#25% percentile
df_25 = np.percentile(df_dollar, 25)
print('25th percentile:', df_25)

#50% percentile
df_50 = np.percentile(df_dollar, 50)
print('50th percentile:', df_50)

#75% percentile
df_75 = np.percentile(df_dollar, 75)
print('75th percentile:', df_75)

25th percentile: 3.0
50th percentile: 3.0
75th percentile: 4.0

**● Calculate Range of Value for the Dollar column using Pandas.**

In [24]:
df_range = df_dollar.max()-df_dollar.min()
print('Range of Value for the dollar column is:', df_range)

Range of Value for the dollar column is: 4

**● Calculate IQR of Value for the Dollar column using Pandas.**

In [25]:
df_iqr = df_75 -df_25
print('IOR of value for the dollar column is:', df_iqr)

#25% percentile
df_25thqr = np.quantile(df_dollar, 0.25)
print('25th Quantile:', df_25thqr)

#75% percentile
df_75thqr = np.quantile(df_dollar, 0.75)
print('75th Quantile:', df_75thqr)

df_iqr1 = df_75thqr -df_25thqr
print('IOR of value for the dollar column is:', df_iqr1)

IOR of value for the dollar column is: 1.0
25th Quantile: 3.0
75th Quantile: 4.0
IOR of value for the dollar column is: 1.0

**● Hypothesis Testing - Using the data in the Cell Phone Survey dataset, apply ANOVA to determine if the mean response for Value for dollar is the same for different types of cell phones.**

**setting null hypothesis**<br>

- (Null hypothesis) H0 => mean response for Value for the Dollar are same for different types of cell phone.<br>
- (Alternate hyhothesis) H1 => mean response for Value for the Dollar are not same for different types of cell phone.<br>

In [26]:
df['Type'].value_counts()

Smart     21
Camera    19
Basic     12
Name: Type, dtype: int64