In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
data = ["elon musk is the richest person",
       "ambani is the richest person",
       "china has the largest population"]

In [4]:
tfidf = TfidfVectorizer()

In [5]:
tfidf_matrix = tfidf.fit_transform(data)

In [6]:
tfidf.get_feature_names_out()

array(['ambani', 'china', 'elon', 'has', 'is', 'largest', 'musk',
       'person', 'population', 'richest', 'the'], dtype=object)

In [7]:
tfidf_values = tfidf_matrix.toarray()

In [9]:
tfidf_values

array([[0.        , 0.        , 0.49482971, 0.        , 0.37633075,
        0.        , 0.49482971, 0.37633075, 0.        , 0.37633075,
        0.2922544 ],
       [0.56943086, 0.        , 0.        , 0.        , 0.43306685,
        0.        , 0.        , 0.43306685, 0.        , 0.43306685,
        0.33631504],
       [0.        , 0.47952794, 0.        , 0.47952794, 0.        ,
        0.47952794, 0.        , 0.        , 0.47952794, 0.        ,
        0.28321692]])

In [10]:
import pandas as pd

In [12]:
data = pd.DataFrame(data= tfidf_values, columns = tfidf.get_feature_names_out())

In [13]:
data

,ambani,china,elon,has,is,largest,musk,person,population,richest,the
0,0.000000,0.000000,0.49483,0.000000,0.376331,0.000000,0.49483,0.376331,0.000000,0.376331,0.292254
1,0.569431,0.000000,0.00000,0.000000,0.433067,0.000000,0.00000,0.433067,0.000000,0.433067,0.336315
2,0.000000,0.479528,0.00000,0.479528,0.000000,0.479528,0.00000,0.000000,0.479528,0.000000,0.283217

#word2vec

In [14]:
from gensim.models import Word2Vec

In [15]:
data = ["elon musk is the richest person",
       "ambani is the richest person",
       "china has the largest population"]

In [16]:
tokens = [d.split() for d in data]

In [17]:
tokens

[['elon', 'musk', 'is', 'the', 'richest', 'person'],
 ['ambani', 'is', 'the', 'richest', 'person'],
 ['china', 'has', 'the', 'largest', 'population']]

In [18]:
type(tokens[0][0])

str

In [29]:
model = Word2Vec(tokens, vector_size = 100, min_count=1)

In [30]:
model.train(tokens, total_examples = len(tokens), epochs = 10)

(14, 160)

In [28]:
tokens

[['elon', 'musk', 'is', 'the', 'richest', 'person'],
 ['ambani', 'is', 'the', 'richest', 'person'],
 ['china', 'has', 'the', 'largest', 'population']]

In [26]:
model.wv["musk"]

array([-0.00515505, -0.006669  , -0.00777624,  0.00831166, -0.00198263,
       -0.00685485, -0.00415383,  0.00514389, -0.00287004, -0.00375035,
        0.00162164, -0.00277639, -0.00158366,  0.00107473, -0.00297799,
        0.00851947,  0.00391213, -0.00995846,  0.00625885, -0.00675577,
        0.00076931,  0.00440476, -0.00510298, -0.00211179,  0.0080951 ,
       -0.00424323, -0.00763659,  0.0092585 , -0.00215625, -0.00471867,
        0.0085707 ,  0.00428395,  0.00432452,  0.00928414, -0.00845413,
        0.00525541,  0.00203854,  0.00418781,  0.0016969 ,  0.004464  ,
        0.00448745,  0.00610421, -0.00320173, -0.00457573, -0.00042544,
        0.00253389, -0.00326426,  0.00605692,  0.00415469,  0.00776468,
        0.00256847,  0.00811609, -0.00138706,  0.00807726,  0.00371588,
       -0.00804708, -0.00393461, -0.00247198,  0.00489266, -0.000872  ,
       -0.00283008,  0.00783329,  0.00932319, -0.00161398, -0.00515943,
       -0.00470066, -0.00484723, -0.00960219,  0.0013714 , -0.00422575,
        0.00252713,  0.00561492, -0.00406551, -0.00959664,  0.00154656,
       -0.00670023,  0.00249652, -0.00378081,  0.00707847,  0.00063989,
        0.00356074, -0.00273967, -0.00171201,  0.00765333,  0.00140786,
       -0.00585115, -0.00783382,  0.00123319,  0.00645551,  0.00555626,
       -0.00897728,  0.00859211,  0.00404624,  0.00747022,  0.00974645,
       -0.00728949, -0.00903973,  0.00583529,  0.00939185,  0.00350662],
      dtype=float32)